<div class="block">
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form class="mx-1 mx-md-4">
            <h4 style="padding-top: 25px;" class="mb-5 text-uppercase ">Set New Password</h4>
            <div class="form-outline mb-4">
                <input type="password" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Login Password" />
                <label class="form-label" for="form3Example3"></label>
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Confirm Login Password" />
                <label class="form-label" for="form3Example3"></label>
            </div>
            <div class="col-md-6 mb-4">
                <div class="form-outline">
                    <button type="button" class="btn btn-primary btn-lg">Proceed</button>
                </div>
            </div>
        </form>

    </div>
</div>