<table cellspacing="7" cellpadding="8 " align="center" bgcolor="white" *ngFor="let item of statements">
  <div align="center">
    <h3>User Details</h3>
    <br />
  </div>

  <tr>
    <td>Name :</td>
    <td>{{ item.name }}</td>
  </tr>
  <tr>
    <td>Father's Name:</td>
    <td>{{ item.fathersName }}</td>
  </tr>
  <tr>
    <td>Mobile :</td>
    <td>{{ item.mobile }}</td>
  </tr>
  <tr>
    <td>Email Id :</td>
    <td>{{ item.email }}</td>
  </tr>
  <tr>
    <td>Adhar Number :</td>
    <td>{{ item.adharNumber }}</td>
  </tr>
  <tr>
    <td>Address :</td>
    <td>{{ item.address }}</td>
  </tr>
</table>
