<div class="container">
  <h2 class="login-heading">Login to your account</h2>
  <form class="login-form">
    <div class="form-field mb-4">
      <label for="userid" class="field-label">User ID</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-field mb-4">
      <label for="password" class="field-label">Password</label>
      <input type="password" class="form-control">
    </div>
    <div class="login-submit mb-4">
      <button type="button" class="btn btn-primary">Submit</button>
    </div>
    <div class="form-field">
      <div class="field-label"></div>
      <div class="login-links flex-1 text-sm">
        <div><a routerLink="/register">First time user? Register</a></div>
        <div><a routerLink="forgot">Forgot User ID?</a></div>
        <div><a routerLink="forgot">Forgot Password?</a></div>
      </div>
    </div>
    
  </form>
</div>