
.login-heading {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.login-form {
  margin: 0 auto;
  max-width: 500px;
}

.field-label {
  width: 200px;
}
.form-field {
  display: flex;
}

.login-submit {
  display: flex;
  justify-content: center;
}