<div>
    <h2>Set New Password</h2><br>
    <div class="login" style="width: 350px;">
        <ngb-alert [type]="alert.type" *ngIf="alert.message" class="mt-4">{{alert.message}}</ngb-alert>
        <form id="login" [formGroup]="setnewpassForm" (submit)="handleSubmit($event)">
            <input type="text" name="password" id="password" placeholder="Password" formControlName="password">
            <br><br>
            <span>Password must be at least 5 characters long </span>
            <span>and contain at least one uppercase, one lowercase, and one number</span>
            <br><br>
            <input type="text" name="repassword" id="repassword" placeholder="Confirm Login Password" formControlName="repassword">
            <br><br>
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="isInvlid">Procced</button>
            <br><br>

        </form>
    </div>
</div>