
.login-heading {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  .login-form {
    margin: 0 auto;
    max-width: 500px;
  }
  
  .field-label {
    width: 200px;
  }
  .form-field {
    display: flex;
  }
  
  .login-submit {
    display: flex;
    justify-content: center;
  }
  
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
  .h-custom {
    height: calc(100% - 73px);
  }
  @media (max-width: 450px) {
    .h-custom {
      height: 100%;
    }
  }

  .header-button-web {
	color: black;
	font-weight: 700;
	font-size: 12px;
	line-height: 19px;
	letter-spacing: 0.01em;
	padding: 7px 14px 8px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 4px;
	text-decoration: none;
	display: inline-block;
	background: #eeeded
}