<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form class="mx-1 mx-md-4">
          <h4 style="padding-top: 25px;" class="mb-5 text-uppercase ">Forgot UserName</h4>
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Account Number" />
            <label class="form-label" for="form3Example3"></label>
          </div>
          <div class="form-outline mb-4">
            <input type="otp" id="form3Example3" class="form-control form-control-lg"
              placeholder="OTP" />
            <label class="form-label" for="form3Example3"></label>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <a routerLink="/login" class="btn btn-primary back">Back</a>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <button type="button" class="btn btn-primary">Proceed</button>
              </div>
            </div>
        </div>
        </form>

      </div>
    </div>
  </div>
</section>