
<ul ngbNav #nav="ngbNav" class="nav-pills">
    <li ngbNavItem>
        <a ngbNavLink>NEFT</a>
        <ng-template ngbNavContent>
            <neft-transfer></neft-transfer>
        </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>RTGS</a>
        <ng-template ngbNavContent>
            <rtgs-transfer></rtgs-transfer>
        </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>IMPS</a>
        <ng-template ngbNavContent>
            <imps-transfer></imps-transfer>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav"></div>