<div class="container">
  <div class="card mt-5" style="align-items: center;">
    <h1>Admin Dashboard</h1>
  </div>

  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Adhar Number</th>
          <th>DOB</th>
          <th>Approved</th>
          <th style="width: 8rem">
            <div class="d-flex justify-content-center">Edit | Delete</div>
          </th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let student of customers">
          <td>{{student.name}}</td>
          <td>{{student.email}}</td>
          <td>{{student.adharNumber}}</td>
          <td>{{student.dob}}</td>
          <td>{{student.approved}}</td>
          <td>
            <div class="d-flex justify-content-center">
              <i class="fa fa-edit" aria-hidden="true" (click)="open(content, student)"></i>
              <span class="inline-block mx-2">|</span>
              <i class="fa fa-trash" aria-hidden="true" (click)="delete(student)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form class="mb-2" >
      <div class="form-group mb-2">
        <label for="accountNo">User Name :</label>
        <input type="text" disabled name="username" id="username" [(ngModel)]="updateUser.username" class="form-control"
          placeholder="User Name">
      </div>
      <div class="d-md-flex justify-content-start align-items-center py-2">

        <h6 class="mb-0 me-4">Approved?</h6>
        <div class="form-check form-check-inline mb-0 me-4">
          <input class="form-check-input" type="radio" id="yes" value="true" [(ngModel)]="updateUser.approved" [ngModelOptions]="{standalone: true}" checked/>
          <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline mb-0 me-4">
          <input class="form-check-input" type="radio" id="no" value="false" [(ngModel)]="updateUser.approved" [ngModelOptions]="{standalone: true}"/>
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save(updateUser)">Save</button>
  </div>
</ng-template>