<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <ngb-alert [type]="alert.type" *ngIf="alert.message" class="mt-4">{{alert.message}}</ngb-alert>
        <form class="mx-1 mx-md-4" [formGroup]="forgotpassForm" (submit)="handleSubmit($event)">
          <h3 style="padding-top: 25px;" class="mb-5 text-uppercase">Forgot Password</h3>
          <div class="form-outline mb-4">
            <input type="email" id="username" class="form-control form-control-lg"
              placeholder="User Name" formControlName="username"/>
            <label class="form-label" for="username"></label>
          </div>

          <!-- Password input -->
          <div class="mb-2" *ngIf="forgotpassForm.value.username">
            <a class="link-primary" (click)="generateOtp()">Generate OTP</a>
          </div>
          <div class="form-outline mb-3">
            <input type="password" id="otp" class="form-control form-control-lg"
              placeholder="OTP" formControlName="otp"/>
            <label class="form-label" for="otp"></label>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <a routerLink="/login" class="btn btn-primary btn-lg">Back</a>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <button type="submit" class="btn btn-primary btn-lg">Procced</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>