<div class="container">
    <h2>Account Summary</h2>
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Name</th>
                <th>Account Type</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let state of statements">
                <td>{{state.accountNo}}</td>
                <td>{{state.name}}</td>
                <td>{{state.accountType}}</td>
                <td>{{state.balance}}</td>
            </tr>
        </tbody>
    </table>
</div>