<div class="container">

    <table class="table">
            <tr>
                <th>Account Number</th>
                <th>Name</th>
                <th>Account Type</th>
                <th>Available Balance</th>
            </tr>
            <tr *ngFor="let user of users">
                <td> {{user.accountNo}}</td>
                <td> {{user.name}}</td>
                <td> {{user.accountType}}</td>
                <td> {{user.accountBalance}}</td>
            </tr>
    </table>
    <h2>Account Summary</h2>
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Transaction Date</th>
                <th>Transaction Mode</th>
                <th>Transaction Type</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let state of statements">
                <td>{{state.accountNumber}}</td>
                <td>{{state.transactionDate}}</td>
                <td>{{state.transactionmode}}</td>
                <td>{{state.transactionType}}</td>
                <td>{{state.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>