
.register-form {
  margin: 0 auto;
  max-width: 640px;

}

.form-field {
  display: flex;
  & > * {
    flex: 1;
  }
}

.register-heading {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.register-submit {
  display: flex;
  justify-content: center;
}