<div class="container">
  <h2 class="register-heading">Register for Internet Banking</h2>
  <form class="register-form">
    <div class="form-field mb-4">
      <label for="userid" class="field-label">Account Number</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-field mb-4">
      <label for="password" class="field-label">Set Login Password</label>
      <input type="password" class="form-control">
    </div>
    <div class="form-field mb-4">
      <label for="password" class="field-label">Confirm Login Password</label>
      <input type="password" class="form-control">
    </div>
    <div class="form-field mb-4">
      <label for="password" class="field-label">Set Transaction Password</label>
      <input type="password" class="form-control">
    </div>
    <div class="form-field mb-4">
      <label for="password" class="field-label">Confirm Trancation Password</label>
      <input type="password" class="form-control">
    </div>
    <div class="form-field mb-4">
      <label for="password" class="field-label">Enter OTP</label>
      <input type="password" class="form-control">
    </div>
    <div class="register-submit">
      <button type="button" class="btn btn-primary">Submit</button>
    </div>    
  </form>
</div>