<div>
    <h2>Add New Beneficiary</h2><br>
    <div class="login" style="width: 350px;">
        <form id="login" method="get" action="login.php">
            <label><b>Beneficiary Name
                </b>
            </label>
            <input type="text" name="Uname" id="Uname" placeholder="Username">
            <br><br>
            <label><b>Beneficiary Account Number
                </b>
            </label>
            <input type="text" name="Pass" id="Pass" placeholder="Account Number">
            <br><br>
            <label><b>Re-Enter Account Number
                </b>
            </label>
            <input type="text" name="Pass" id="Pass" placeholder="Account Number">
            <br><br>
            <label><b>Nick Name
                </b>
            </label>
            <input type="text" name="Uname" id="Uname" placeholder="Nickname">
            <br><br>
            <input type="button" name="log" id="log" value="Save AS Beneficiary">
            <br><br>

        </form>
    </div>
</div>