

.maindiv {
	/* border: 2px solid black; */
	width: 450px;
	margin: auto;
}

td {
	font-size: 17px;
}

input {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	box-sizing: border-box;
	border: 2px solid lightgray;
	border-radius: 4px;
}


#reruest {
	width: 100%;
	padding: 50px 0;
	overflow: hidden;
	margin: auto;
	overflow: hidden;
	color: #fff;
	padding: 10px 0;
	text-align: center;
}

table {
  border: 1px solid;
}

.back {
	width: revert;
    border: revert;
    border-radius: revert;
}

.proceed {
	width: revert;
    border: revert;
    border-radius: revert;
}

.header-button-web {
	color: black;
	font-weight: 700;
	font-size: 12px;
	line-height: 19px;
	letter-spacing: 0.01em;
	padding: 7px 14px 8px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 4px;
	text-decoration: none;
	display: inline-block;
	background: #eeeded
}