<div>
    <h2>Add New Beneficiary</h2><br>
    <div class="login" style="width: 350px;">
        <ngb-alert [type]="alert.type" *ngIf="alert.message" class="mt-4">{{alert.message}}</ngb-alert>
        <form id="login" [formGroup]="addPayeeForm" (submit)="handleSubmit($event)">
            <label><b>Beneficiary Name
                </b>
            </label>
            <input type="text" name="beneficeryName" id="beneficeryName" placeholder="Beneficery Name"
                formControlName="beneficeryName">
            <br><br>
            <label><b>Beneficiary Account Number
                </b>
            </label>
            <input type="text" name="accountNo" id="accountNo" placeholder="Account Number" formControlName="accountNo">
            <br><br>
            <label><b>Re-Enter Account Number
                </b>
            </label>
            <input type="text" name="reaccountNo" id="reaccountNo" placeholder="Account Number"
                formControlName="reaccountNo">
            <br><br>
            <label><b>Nick Name
                </b>
            </label>
            <input type="text" name="nickName" id="nickName" placeholder="Nickname" formControlName="nickName">
            <br><br>
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="isInvlid">Save AS Beneficiary</button>
            <br><br>

        </form>
    </div>
</div>